<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/login.css" rel="stylesheet" type="text/css">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div class="main-wrapper">
        <form action="/register" method="POST">
            <p class="warning">
                {{.}}
            </p>
            <div class="name">
                <h3><label for="username">User name:</label></h3>
                <input type="text" id="username" name="username" placeholder=" Enter your name" required minlength="3"
                    maxlength="15"><br>
            </div>
            <div class="email">
                <h3><label for="email">Email:</label></h3>
                <input type="email" id="email" name="email" placeholder=" example@example.com" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
            </div>
            <div class="password">
                <h3><label for="password">Password:</label></h3>
                <input type="password" id="password" name="password" placeholder=" Enter your password" required
                    minlength="4"><br>
            </div>
            <div class="button">
                <input type="submit" value="Register"><br>
            </div>
        </form>
    </div>
    <p>If you already have an account, please <a href="/login">Log In</a></p>
    <div class="cont">
        <p>Continue with: </p>
    </div>
    <div class="google-git">
        <button class="google">
            <a href="/google/register/" style="display:inline;"><img src="/static/photos/google.png" alt="google" class="icon_dislike"></a>
        </button>
        <button class="git">
            <a href="/github/login/"><img src="/static/photos/github.png" alt="github" class="icon_dislike"></a>
        </button>
    </div>
</body>
</html>